/* Messenger Plugin */
a.btn1:link,
a.btn1:visited  { 
  color:#000000;
  text-align: center; 
  vertical-align:middle; 
  padding: 5px; 
  display: block; 
  height: 16px;
  margin:0;
  text-decoration: none; 
  background-color: transparent;
}
a.btn1:hover  { 
  color:#000000; 
  text-align: center; 
  vertical-align:middle; 
  padding: 5px; 
  background: center url(messenger/images/button_over.gif); 
  display: block; 
  height: 16px; 
  text-decoration: none; 
}
.msgDisabledBtn {
  color:#AAA;
  padding-top:4px;
}
.msgNavbar  { 
  background-color:#556289;
}
.msgNavbar A:link {
  color:#FFF; 
  text-decoration: underline; 
}
.msgNavbar A:visited { 
  color:#FFF; 
  text-decoration: underline; 
}
.msgNavbar A:hover  { 
  color:#FFCC00; 
  text-decoration: underline; 
}
div.pm   { 
  width: 100%; 
  height: 100px; 
  border:0;
  overflow-x:hidden; 
  overflow-y: auto;
}
div.pmbuddylist  { 
  width: 100px; 
  height: 160px; 
  border:0;
  overflow-x:hidden; 
  overflow-y: auto;
  padding: 5px;
}
